# InteliJ IDEA
atlassian-ide-plugin.xml
.idea/

# Eclipse
.classpath
.project
.settings/
.cache

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Cassandra mesos distro
cassandra-mesos-*

# backup files
*~
