# InteliJ IDEA
atlassian-ide-plugin.xml
.idea/

# Eclipse
.classpath
.project
.settings/
.cache

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
**/target/*

# backup files
*~

**/cassandra-mesos.log
**/cassandra-mesos.log*.zip
**/cassandra-executor.log
**/cassandra-executor.log*.zip
**/executor.log
**/executor.log*.zip

driver-extensions/cluster-loadtest/cassandra.logdir_IS_UNDEFINED/**
driver-extensions/cluster-loadtest/loadtest-*/**
