---
layout: default
---

<div class="row">
  <div class="col-sm-3">
    <h5>Welcome</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/">
          Overview
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/getting-started.html">
          Getting Started
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/contributing.html">
          Contributing
        </a>
      </li>
    </ul>
    <hr>
    <h5>Guides</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/introduction.html">
          Introduction to Cassandra-Mesos
        </a>
      </li>
    </ul>
    <hr>
    <h5>Reference</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/configuration-and-state.html">
            Configuration &amp; State
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/rest-api.html">
            REST API
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/mesos-dns.html">
            Mesos DNS
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/multi-dc.html">
            Multi Datacenter
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/faq.html">
            FAQ
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/uninstall.html">
            Uninstall
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
