<configuration scan="true" scanPeriod="30 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%date %-5.5level [%-20.20thread] %-20.20logger{20} - %message%n%xException{5}</pattern>-->
            <pattern>%date %-5.5level [%-20.20thread] %-36.36logger{36} - {%marker} %message%n</pattern>
        </encoder>
    </appender>

    <logger name="io.mesosphere" level="trace"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
